/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");

/* css reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

/* paragraph css */
.clock {
  color: white;
  font-size: 3rem;
  margin-top: 1rem;
}

/* css for image */

.image-logo {
  width: 150px;
  height: auto;
}
